version: '3.8'

services:
  backend:
    build: .
    ports:
      - "3001:3001"
    environment:
      - GOOGLE_API_KEY=${GOOGLE_API_KEY}
      - PORT=3001
      - FRONTEND_URL=http://convertit.space
    restart: always

  frontend:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - .:/usr/share/nginx/html
    restart: always
    depends_on:
      - backend
